<header>
	<h1>
		<a href="/" style="float: left; padding-right: 5px;"><img alt="Rapla" src="/images/logo.png"></img></a>
	</h1>
	<p>Rapla - resource scheduling and event planing</p>
	<p class="view">
		<a href="https://github.com/rapla/rapla">View the Project on GitHub <small>rapla/rapla</small>
		</a>
	</p>
	<ul>
		<li>
			<a href="http://rapla-rapla.rhcloud.com/rapla">Online <strong>Demo</strong>
			</a>
		</li>
		<li>
			<a href="https://sourceforge.net/projects/rapla/files/latest/download?source=files">Download <strong>latest</strong>
			</a>
		</li>
		<li>
			<a href="https://github.com/rapla/rapla">View On <strong>GitHub</strong>
			</a>
		</li>
	</ul>
</header>