{{ define "main" }}{{ $pages := where .Pages.ByWeight "Params.tour" "ne" false }}
<h1>{{ .Title }}</h1><p class="lead">{{ .Description }}</p>{{ .Content }}
<div class="long"><aside class="toc"><strong>On this page</strong><nav aria-label="On this page"><ul>{{ range $pages }}<li><a href="#{{ .File.ContentBaseName }}">{{ .Title }}</a></li>{{ end }}</ul></nav></aside>
<article>
{{ range $pages }}<section id="{{ .File.ContentBaseName }}"><h2>{{ with .Params.icon }}{{ partial "icon.html" . }}{{ end }}{{ .Title }} <a class="edit" href="https://github.com/rapla/site/edit/master/content/{{ .File.Path }}" aria-label="Edit “{{ .Title }}” section on GitHub">✎ Edit</a></h2>{{ with .Description }}<p class="lead">{{ . }}</p>{{ end }}{{ .Content | replaceRE "<(/?)h2" "<${1}h3" | safeHTML }}</section>{{ end }}
</article></div>{{ end }}
